Pyrogram>=2.0.62
tgcrypto
pymongo[srv]==4.3.3
motor==3.1.1
marshmallow==3.19.0
python-telegram-bot==13.14
umongo==3.1.0
requests
bs4
Pyromod
imdbpy==2022.7.9
youtube-dl
youtube_search
requests
googletrans
telegraph
beautifulsoup4
aiohttp==3.8.3
gTTS
googletrans
NumPy
glitch_this
opencv-python-headless
youtube-search-python
yt-dlp
pypng
Pillow
wget
aiofiles
psutil
wheel
humanize
ytthumb
pypdf2
PyPDF2
pyshorteners
ffmpeg-python
TgCrypto
py-tgcalls
python-dotenv
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
ffmpeg
Pillow
ujson
